#root{
  background-color:blanchedalmond;
}
.App {
  /* text-align: center; */
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My code */

nav{
  display: flex;
  gap: 10px;
  text-align: center;
}

.App a{
  text-decoration: none;
  color: black;
}

.App a:hover{
  color: #61dafb;
}

.heading-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

.heading-logo .logo img{
  width: 80px;
  
}

.bodyOk{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;

}